<dom-module id="article-search">
    <style>
        :host {
            display: block;
        }

        paper-material {
            @apply(--layout-horizontal);
            @apply(--paper-material);
        }

        .search-input {
            @apply(--layout-flex-5);
        }

        .search-button {
            @apply(--layout-flex-5);
        }

        paper-button {
            background-color: var(--paper-blue-500);
        }
    </style>

    <template>
        <flux-actions id="actions"></flux-actions>
        <paper-material elevation="2">
            <div class="search-input">
                <paper-input id="search-input" ref="searchToken" label="Search ..."
                             prevent-invalid-input="true" allowed-pattern="[a-z]"
                             on-change="search"></paper-input>
            </div>
            <div class="search-button">
                <paper-button raised on-click="search">Search</paper-button>
            </div>
        </paper-material>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'article-search',
        ready: function() {
            var self = this;
            this.$.actions.article.search.listen(function(newTerms) {
                self.$['search-input'].value = newTerms;
            });
        },
        search: function() {
            page('/search-' + this.$['search-input'].value);
        }
    });
</script>
