<link rel="import" href="/lib/polymer/polymer.html"/>
<link rel="import" href="article-search.html" />
<link rel="import" href="search-stats.html" />
<link rel="import" href="article-row.html" />

<dom-module id="article-box">
    <template>
        <div>
            <div className="row">
                <div className="col s12">
                    <div className="row card-panel">
                        <article-search onSearchResponse={this.onSearchResponse}></article-search>
                    </div>
                    <search-stats searchDetails={this.state}></search-stats>
                    <div className="row card-panel">
                        <ul className="collection">
                            <template is="dom-repeat" items="{{articles}}">
                                <article-row title="{{item.title}}" esid="{{item._id}}" ></article-row>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
       is: 'article-box'
    });
</script>