<link rel="import" href="/lib/polymer/polymer.html"/>
<link rel="import" href="article-search.html"/>
<link rel="import" href="search-stats.html"/>
<link rel="import" href="article-results.html"/>
<link rel="import" href="flux-actions.html"/>
<link rel="import" href="flux-store-search-results.html"/>

<dom-module id="article-box">
    <template>
        <flux-store-search-results articles="{{articles}}"></flux-store-search-results>
        <article-search></article-search>
        <search-stats></search-stats>
        <article-results articles="[[articles]]" hidden="{{hasNoArticles(articles)}}"></article-results>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'article-box',
        hasNoArticles: function(articles) {
            return !articles || articles.length === 0;
        }
    });
</script>
