<dom-module id="flux-store-article">
    <template>
        <search-server-settings id="server"></search-server-settings>
        <flux-actions id="actions"></flux-actions>
        <iron-ajax id="ajax" handle-as="json" content-type="application/json"
                   method="GET" last-response="{{article}}"
                   url="{{getArticleUrl(articleId)}}" auto></iron-ajax>
    </template>
</dom-module>

<script>
    'use strict';

    Polymer({
        is: 'flux-store-article',
        properties: {
            article: {
                type: Object,
                notify: true,
                observer: 'handleResponse'
            },
            articleId: String
        },
        ready: function() {
            var self = this;

            this.$.actions.article.show.listen(function(articleId) {
                self.articleId = articleId;
            });
        },
        handleResponse: function () {
            this.$.actions.article.show.success(this.article);
        },
        getArticleUrl: function(articleId) {
            return this.$.server.url + articleId;
        }
    });
</script>
