<link rel="import" href="ld-resource.html" />

<polymer-element name="ld-browser" attributes="uri">
  <template if="{{ book }}">
  <style>
  input {
    width: 80%;
  }
  </style>
  <input value="{{ uri }}" type="text" />
  <button on-click="{{ load }}">Go</button>
  <ld-resource id="resourceView"></ld-resource>
</template>
<script>
(function(NavActions, ModelStore) {
  Polymer('ld-browser', {
    ready: function() {
      ModelStore.listen(this.show.bind(this));
    },
    load: function() {
      NavActions.navigateTo(this.uri);
    },
    show: function(resource) {
      this.$.resourceView.resource = resource;
    }
  });
})(window.NavActions, window.ModelStore);
</script>
</polymer-element>
