<link rel="import" href="schema-image.html" />
<link rel="import" href="sw-object.html" />

<dom-module id="ld-resource">
    <template>
        <sw-object object="{{resource}}"></sw-object>
        <template is="dom-if" if="{{hasImage}}">
            <schema-image image="{{image}}"></schema-image>
        </template>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'ld-resource',
        properties: {
            resource: {
                type: Object,
                notify: true
            },
            hasImage: {
                computed: 'resHasImage(resource)'
            },
            image: {
                computed: 'getImage(resource)'
            }
        },
        created: function() {
            console.log('created');
        },
        resHasImage: function(resource){
            return !!resource['http://schema.org/image'];
        },
        getImage: function(resource){
            return resource['http://schema.org/image'][0];
        }
    })
</script>
