<link rel="import" href="actions.html"/>
<link rel="import" href="../lib/iron-ajax/iron-ajax.html"/>

<script>

    require(['reflux', 'jsonld', 'es6-promise'], function (Reflux, jsonld) {
        'use strict';
        var jsonldp = jsonld.promises;

        var ajax = document.createElement('iron-ajax');
        ajax.header = { Accept: 'application/ld+json' };
        ajax.contentType = 'text/plain';

        var store = Reflux.createStore({
                init: function () {
                    var NavActions = document.createElement('wb-actions');
                    this.listenTo(NavActions.navigateTo, this.loadResource);
                },
                loadResource: function (uri) {
                    ajax.url = uri;
                    ajax.generateRequest();
                }
            });

        var handleLoadSuccess = function (res) {
            jsonldp.expand(res.currentTarget.lastResponse).then(function (expanded) {
                var NavActions = document.createElement('wb-actions');
                NavActions.navigateTo.success(expanded[0]);
            });
        };

        var handleLoadError = function (request) {
            var NavActions = document.createElement('wb-actions');
            NavActions.navigateTo.failed(request.status);
        }

        ajax.addEventListener('response', handleLoadSuccess);
        ajax.addEventListener('error', handleLoadError);

        Polymer({
            is: 'wb-stores-model',
            properties: {
                resource: {
                    type: Object,
                    notify: true,
                    readOnly: true
                }
            },
            ready: function() {
                var NavActions = document.createElement('wb-actions');
                NavActions.navigateTo.success.listen(this.setResource.bind(this));
            },
            setResource: function(r) {
                this._setResource(r);
            }
        });
    });
</script>

