<link rel="import" href="../lib/paper-dialog/paper-dialog.html"/>

<dom-module id="schema-image">
    <style>
        img {
            cursor: pointer;
        }
    </style>

    <template>
        <a href="{{fullSize}}" on-click="open">
            <img src="{{thumbnail}}" alt="thumbnail" id="thumbnail"/>
        </a>

        <div>
            <paper-dialog id="modal" modal height="1000">
                <a href="{{fullSize}}" on-click="hide">
                    <img alt="large" src="{{fullSize}}"/>
                </a>
            </paper-dialog>
        </div>
    </template>

</dom-module>

<script>
    Polymer({
        is: 'schema-image',
        properties: {
            image: Object,
            thumbnail: {
                computed: 'getThumbnail(image)'
            },
            fullSize: {
                computed: 'getFullSize(image)'
            }
        },
        open: function (e) {
            this.$.modal.toggle();
            e.preventDefault();
        },
        hide: function (e) {
            this.$.modal.toggle();
            e.preventDefault();
        },
        getThumbnail: function (image) {
            return image['http://schema.org/thumbnail'][0]['http://schema.org/contentUrl'][0]['@value'];
        },
        getFullSize: function (image) {
            return image['http://schema.org/contentUrl'][0]['@value'];
        }
    });
</script>
