<link rel="import" href="../lib/paper-dialog/paper-dialog.html"/>

<dom-module id="schema-image">
    <style>
        img {
            cursor: pointer;
        }
    </style>

  <template>
    <template is="dom-if" if="{{image}}">
      <img src="{{thumbnail}}" alt="thumbnail" on-click="open" id="thumbnail" />
      <div>
        <paper-dialog id="modal">
          <img alt="large" src="{{fullSize}}" on-click="hide" />
        </paper-dialog>
      </div>
    </template>
  </template>

</dom-module>

<script>
    Polymer({
        is: 'schema-image',
        properties: {
            image: Object,
            thumbnail: {
                computed: 'getThumbnail(image)'
            },
            getFullSize: {
                computed: 'getFullSize(image)'
            }
        },
        open: function() {
            this.$.modal.show();
        },
        hide: function() {
            this.$.modal.hide();
        },
        getThumbnail: function(image){
            return image['http://schema.org/thumbnail'][0]['http://schema.org/contentUrl'][0]['@value'];
        },
        getFullSize: function(image){
            return image['http://schema.org/contentUrl'][0]['@value'];
        }
    });
</script>