<dom-module id="search-stats">
    <style>
        :host {
            display: block;
        }

        paper-material {
            @apply(--layout-horizontal);
            @apply(--paper-material);
        }

        [col] {
            @apply(--layout-flex-1);
            padding-right: 30px;
        }

        iron-icon {
            @apply(--default-icon);
        }

    </style>

    <template>
        <flux-store-search-results
              time-taken="{{timeTaken}}"
              has-timed-out="{{hasTimedOut}}"
              successful-shards="{{successfulShards}}"
              total-shards="{{totalShards}}"
              total-hits="{{totalHits}}"
              max-score="{{maxScore}}"></flux-store-search-results>
        <paper-material elevation="2">
            <div col>
                <iron-icon icon="alarm"></iron-icon>
                <span>{{timeTaken}}</span> ms
            </div>
            <div col>
                <span>time out:</span>
                <iron-icon icon="report-problem" hidden$="{{!hasTimedOut}}"></iron-icon>
                <iron-icon icon="done" hidden$="{{hasTimedOut}}"></iron-icon>
            </div>
            <div col>
                <span>shards alive:</span>
                <iron-icon icon="favorite"></iron-icon>
                <span>{{successfulShards}}</span> / <span>{{totalShards}}</span>
            </div>
            <div col>
                <iron-icon icon="search"></iron-icon>
                <span>{{totalHits}}</span>
            </div>
            <div col>
                <iron-icon icon="face"></iron-icon>
                <span>{{maxScore}}</span>
            </div>
        </paper-material>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'search-stats'
    });
</script>
