<script src="polymer.require.js"></script>

<polymer-element name="sw-object" attributes="object">
  <template>
  <style>
  * {
    font-size: small;
  }

  th {
    text-align: right;
  }
  </style>
  <table>
    <template repeat="{{ val in object | getValues }}">
      <tr>
        <th>
          {{ val['pred'] }}
        </th>
        <td>
          <template repeat="{{ nested in val['val'] }}">
            <template if="{{ nested['@value'] }}">
              {{ nested['@value'] }}
            </template>
            <template if="{{ nested['@id'] }}">
              <a id="link" href="?uri={{ nested['@id'] }}" data-object="{{ nested['@id'] }}" on-click="{{ selectResource }}">{{ nested['@id'] }}</a>
            </template>
            <template if="{{ !nested['@value'] }}">
              <sw-object object="{{ nested }}"></sw-object>
            </template>
          </template>
        </td>
      </tr>
    </template>
  </table>
</template>
<script>
Polymer.require('sw-object', ['actions', 'underscore'], function(actions, _) {
  var NavActions = actions.NavActions;

  return {
    ready: function() {
      if(this.$.link) {
        this.$.link.addEventListener('click', function(ev) {
          return ev.preventDefault();
        });
      }
    },
    getValues: function(obj) {
      return _.chain(obj)
      .map(function(p, k) { return { pred: k, val: p }; })
      .reject(function (o) { return o.pred[0] == "@"; })
      .reject(function (o) { return o.pred == "http://schema.org/image"; })
      .value();
    },
    selectResource: function(ev) {
      NavActions.navigateTo(ev.target.attributes['data-object'].value);
      return ev.preventDefault();
    }
  };
});
</script>
</polymer-element>
